<!-- <p>client-section works!</p> -->
<section class="_client_hire_sec">
    <div class="_client_hire_wrap">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="_client_hire_title_wrap">
                        <h6 class="_client_hire_title">SOME OF OUR TRUSTED CLIENTS</h6>
                    </div>
                </div>
            </div>
            <div class="_client_hire_logos_wrapper">
                <div class="row">
                    <div class="col-12">
                        <div class="_client_hire_logos_wrap">
                            <img src="assets/img/elev8img.png" alt="Client logo" class="_client_hire_logo">
                            <img src="assets/img/microsoftimg.png" alt="Client logo" class="_client_hire_logo">
                            <img src="assets/img/tekimgs.png" alt="Client logo" class="_client_hire_logo">
                            <img src="assets/img/yngimg.png" alt="Client logo" class="_client_hire_logo">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
