<!-- <p>service-section works!</p> -->
<section class="_service_hire_sec">
    <div class="_service_hire_wrap">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="_service_hire_title_wrap">
                        <h2 class="_service_hire_title">What We Do</h2>
                        <p class="_service_hire_txt">Starting with a holistic assessment of your creative and
                            development needs, 
                            we’ll recommend
                            flexible solutions.</p>
                    </div>
                </div>
            </div>
            <div class="_service_card_wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-11 col-lg-11 col-md-12 col-sm-12 mx-auto">
                            <div class="_service_card_wrap">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                        <div class="_service_card_main_wrap">
                                            <div class="_service_card_main_top_wrap">
                                                <img src="assets/img/programming.png " alt="Icon"
                                                    class="_service_card_main_top_ic">
                                            </div>
                                            <div class="_service_card_main_mid_wrap">
                                                <h5 class="_service_card_main_mid_title">Programming & Development
                                                </h5>
                                                <p class="_service_card_main_mid_txt">2,000 Freelancers</p>
                                            </div>
                                            <div class="_service_card_main_btm_wrap">
                                                <a href="#0" class="_service_card_main_btm_link">Learn more <svg
                                                        xmlns="http://www.w3.org/2000/svg" width="5" height="8"
                                                        fill="none" viewBox="0 0 5 8">
                                                        <path fill="#0FD86E"
                                                            d="M0 7.06L3.053 4 0 .94.94 0l4 4-4 4L0 7.06z" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                        <div class="_service_card_main_wrap">
                                            <div class="_service_card_main_top_wrap">
                                                <img src="assets/img/internship.png" alt="Icon"
                                                    class="_service_card_main_top_ic">
                                            </div>
                                            <div class="_service_card_main_mid_wrap">
                                                <h5 class="_service_card_main_mid_title">Internship
                                                </h5>
                                                <p class="_service_card_main_mid_txt">200 interns</p>
                                            </div>
                                            <div class="_service_card_main_btm_wrap">
                                                <a href="#0" class="_service_card_main_btm_link">Learn more <svg
                                                        xmlns="http://www.w3.org/2000/svg" width="5" height="8"
                                                        fill="none" viewBox="0 0 5 8">
                                                        <path fill="#0FD86E"
                                                            d="M0 7.06L3.053 4 0 .94.94 0l4 4-4 4L0 7.06z" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                        <div class="_service_card_main_wrap">
                                            <div class="_service_card_main_top_wrap">
                                                <img src="assets/img/job on go.png" alt="Icon"
                                                    class="_service_card_main_top_ic">
                                            </div>
                                            <div class="_service_card_main_mid_wrap">
                                                <h5 class="_service_card_main_mid_title">Job On the Go
                                                    
                                                </h5>
                                                <p class="_service_card_main_mid_txt">1,730 Freelancers</p>
                                            </div>
                                            <div class="_service_card_main_btm_wrap">
                                                <a href="#0" class="_service_card_main_btm_link">Learn more <svg
                                                        xmlns="http://www.w3.org/2000/svg" width="5" height="8"
                                                        fill="none" viewBox="0 0 5 8">
                                                        <path fill="#0FD86E"
                                                            d="M0 7.06L3.053 4 0 .94.94 0l4 4-4 4L0 7.06z" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                        
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                       
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
