<!-- <p>testimonial-section works!</p> -->
<section class="_testimonial_hire_wrapper">
    <div class="_testimonial_hire_wrap">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 mx-auto">
                    <h2 class="_testimonial_hire_heading">Check our Satisfied Clients</h2>
                    <div class="_testimonial_line"></div>
                </div>
            </div>
            <div class="_testimonial_hire_content_wrap">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="_testimonial_hire_content">
                            <div class="_testimonial_hire_content_inner">
                                <p class="_testimonial_hire_txt">
                                    <em>
                                        our company, we do ongoing research with our target audience. This includes
                                        30-45 minute phone interviews. It was difficult to conduct the interview,
                                        really listen, and ask good follow up questions
                                    </em>
                                </p>
                                <div class="_testimonial_provider">
                                    <div class="_testimonial_profile_img">
                                        <img src="assets/img/image1.png" class="_profile_img" alt="">
                                    </div>
                                    <div class="_provider_info">
                                        <h3 class="_provider_name">Cham</h3>
                                        <h5 class="_provider_work">Product designer - Besnik</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="_testimonial_hire_content">
                            <div class="_testimonial_hire_content_inner">
                                <p class="_testimonial_hire_txt">
                                    <em>
                                        our company, we do ongoing research with our target audience. This includes
                                        30-45 minute phone interviews. It was difficult to conduct the interview,
                                        really listen, and ask good follow up questions
                                    </em>
                                </p>
                                <div class="_testimonial_provider">
                                    <div class="_testimonial_profile_img">
                                        <img src="assets/img/image1.png" class="_profile_img" alt="">
                                    </div>
                                    <div class="_provider_info">
                                        <h3 class="_provider_name">Scopic Software</h3>
                                        <h5 class="_provider_work">Custom IT Solutions Firm</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="_testimonial_hire_content">
                            <div class="_testimonial_hire_content_inner">
                                <p class="_testimonial_hire_txt">
                                    <em>
                                        our company, we do ongoing research with our target audience. This includes
                                        30-45 minute phone interviews. It was difficult to conduct the interview,
                                        really listen, and ask good follow up questions
                                    </em>
                                </p>
                                <div class="_testimonial_provider">
                                    <div class="_testimonial_profile_img">
                                        <img src="assets/img/image1.png" class="_profile_img" alt="">
                                    </div>
                                    <div class="_provider_info">
                                        <h3 class="_provider_name">Russell Lee</h3>
                                        <h5 class="_provider_work">Writer</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="_testimonial_hire_content">
                            <div class="_testimonial_hire_content_inner">
                                <p class="_testimonial_hire_txt">
                                    <em>
                                        our company, we do ongoing research with our target audience. This includes
                                        30-45 minute phone interviews. It was difficult to conduct the interview,
                                        really listen, and ask good follow up questions
                                    </em>
                                </p>
                                <div class="_testimonial_provider">
                                    <div class="_testimonial_profile_img">
                                        <img src="assets/img/image1.png" class="_profile_img" alt="">
                                    </div>
                                    <div class="_provider_info">
                                        <h3 class="_provider_name">Solace Engineers Inc.</h3>
                                        <h5 class="_provider_work">Engineering Firm</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
