<!-- <p>footer works!</p> -->
<footer class="_footer_hire_free_wrapper" id="footer">
    <div class="_footer_hire_free_wrap_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="_ft_hire_free_content">
                        <div class="_ft_hire_free_content_txt_wrap">
                            <h3 class="_ft_hire_free_title">We’d love to have you join us!</h3>
                            <p class="_ft_hire_free_para">You didn't become a freelancer to spend hours every week
                                hunched in front of your computer scrolling through endless job listings.</p>
                        </div>
                        <div class="_ft_hire_free_social_wrap">
                            <h5 class="_ft_hire_free_social_title">SOCIAL MEDIA</h5>
                            <div class="_ft_hire_free_social">
                                <ul class="_ft_hire_free_social_list">
                                    <li class="_ft_hire_free_social_list_item">
                                        <a href="#0" class="_ft_hire_free_social_list_item_link">
                                            <svg class="_ft_hire_social_ic" xmlns="http://www.w3.org/2000/svg"
                                                width="19" height="15" fill="none" viewbox="0 0 19 15">
                                                <path fill="#fff"
                                                    d="M17.325.084L.384 6.304c-.55.17-.49.905.06 1.074l4.282 1.244 1.712 4.976c.123.396.673.51.979.226l2.508-2.148 4.77 3.223c.367.226.856.056.979-.34l3.302-13.118C19.16.48 18.243-.255 17.325.084zm-9.908 9.5l-.55 2.94-1.224-4.071L17.57 1.215 7.417 9.584z" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="_ft_hire_free_social_list_item">
                                        <a href="#0" class="_ft_hire_free_social_list_item_link">
                                            <svg class="_ft_hire_social_ic" xmlns="http://www.w3.org/2000/svg"
                                                width="19" height="14" fill="none" viewbox="0 0 19 14">
                                                <path fill="#fff"
                                                    d="M19 1.663c-.699.273-1.46.47-2.242.547.813-.438 1.422-1.13 1.712-1.947-.763.412-1.599.7-2.47.853A3.906 3.906 0 0014.705.29a4.229 4.229 0 00-1.55-.29C10.997 0 9.26 1.586 9.26 3.533c0 .274.037.547.096.81C6.127 4.19 3.245 2.79 1.33.646a3.26 3.26 0 00-.53 1.783c0 1.226.687 2.307 1.736 2.943a4.237 4.237 0 01-1.76-.45v.044c0 1.717 1.337 3.14 3.12 3.467-.334.079-.679.12-1.025.12-.253 0-.493-.023-.735-.054.493 1.4 1.93 2.417 3.64 2.45C4.437 11.9 2.76 12.46.94 12.46c-.327 0-.628-.01-.941-.043C1.726 13.42 3.774 14 5.98 14c7.16 0 11.08-5.38 11.08-10.05 0-.154 0-.307-.012-.46A8.005 8.005 0 0019 1.663z" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="_ft_hire_free_social_list_item">
                                        <a href="#0" class="_ft_hire_free_social_list_item_link">
                                            <svg class="_ft_hire_social_ic" xmlns="http://www.w3.org/2000/svg"
                                                width="18" height="17" fill="none" viewbox="0 0 18 17">
                                                <path fill="#fff"
                                                    d="M15.993 6.51c-.57 0-1.07.235-1.438.603-1.354-.937-3.18-1.54-5.201-1.604l1.05-4.735 3.347.751c0 .82.667 1.487 1.487 1.487.835 0 1.506-.686 1.506-1.506A1.51 1.51 0 0015.238 0c-.584 0-1.089.353-1.34.835l-3.695-.82c-.185-.05-.368.084-.417.27l-1.153 5.22c-2.007.083-3.813.686-5.171 1.624a2.016 2.016 0 00-1.457-.619c-2.11 0-2.8 2.83-.869 3.798-.068.3-.098.618-.098.937 0 3.179 3.58 5.755 7.978 5.755 4.416 0 7.997-2.576 7.997-5.755 0-.319-.034-.653-.117-.952 1.893-.972 1.195-3.783-.903-3.783zM4.198 10.51a1.5 1.5 0 011.506-1.506c.82 0 1.487.667 1.487 1.506a1.49 1.49 0 01-1.487 1.487 1.494 1.494 0 01-1.506-1.487zm8.13 3.547c-1.381 1.381-5.277 1.381-6.658 0-.152-.133-.152-.368 0-.52a.365.365 0 01.5 0c1.055 1.082 4.553 1.1 5.653 0a.365.365 0 01.501 0c.156.152.156.387.004.52zM12.298 12a1.49 1.49 0 01-1.488-1.487A1.496 1.496 0 1112.298 12z" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="_ft_hire_free_social_list_item">
                                        <a href="#0" class="_ft_hire_free_social_list_item_link">
                                            <svg class="_ft_hire_social_ic" xmlns="http://www.w3.org/2000/svg"
                                                width="18" height="13" fill="none" viewbox="0 0 18 13">
                                                <path fill="#fff"
                                                    d="M2.132 2.652c.01-.099-.004-.199-.043-.292a.64.64 0 00-.184-.243L.227.274V0h5.217l4.034 8.051L13.024 0H18v.274l-1.436 1.254a.388.388 0 00-.136.162.35.35 0 00-.024.204v9.213a.35.35 0 00.024.203c.028.064.075.12.136.162l1.403 1.254V13h-7.06v-.274l1.455-1.284c.142-.13.142-.17.142-.366V3.631L8.46 12.976h-.547L3.208 3.631v6.263a.807.807 0 00.26.718l1.89 2.086v.274H0v-.27l1.89-2.09c.201-.19.295-.458.242-.718V2.652z" />
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 mx-auto">
                            <form class="_ft_hire_free_contact_form_wrap">
                                <h3 class="_ft_hire_free_form_title">Contact us</h3>
                                <div class="_ft_hire_free_contact_form">
                                    <div class="_ft_hire_contact_input_wrap">
                                        <label for="_ft_name_input" class="_ft_hire_contact_label">Name</label>
                                        <input type="text" id="_ft_name_input" class="_ft_hire_contact_input"
                                            placeholder="Sayem Ahmed">
                                    </div>
                                    <div class="_ft_hire_contact_input_wrap">
                                        <label for="_ft_mail_input" class="_ft_hire_contact_label">Mail</label>
                                        <input type="email" id="_ft_mail_input" class="_ft_hire_contact_input"
                                            placeholder="yourmail@gmail.com">
                                    </div>
                                    <div class="_ft_hire_contact_input_wrap">
                                        <label for="_ft_textarea" class="_ft_hire_contact_label">Mail</label>
                                        <textarea name="" id="_ft_textarea" placeholder="Your Message"
                                            class="_ft_contact_textarea" cols="30" rows="4"></textarea>
                                    </div>
                                    <div class="_ft_hire_contact_input_btn">
                                        <button class="_contact_btn">Contact us</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="_ft_divider">
    <div class="_footer_hire_free_wrap_bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                    <div class="_ft_hire_free_bottom_item">
                        <h3 class="_ft_hire_free_bottom_title">Service</h3>
                        <ul class="_ft_hire_free_bottom_list">
                            <li class="_ft_hire_free_bottom_list_item">
                                <a href="#0" class="_ft_hire_free_bottom_item_link">Graphic Designe</a>
                            </li>
                            <li class="_ft_hire_free_bottom_list_item">
                                <a href="#0" class="_ft_hire_free_bottom_item_link">Web Developement</a>
                            </li>
                            <li class="_ft_hire_free_bottom_list_item">
                                <a href="#0" class="_ft_hire_free_bottom_item_link">Engineering</a>
                            </li>
                            <li class="_ft_hire_free_bottom_list_item">
                                <a href="#0" class="_ft_hire_free_bottom_item_link">Marketing</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                    <div class="_ft_hire_free_bottom_item">
                        <h3 class="_ft_hire_free_bottom_title">Resources</h3>
                        <ul class="_ft_hire_free_bottom_list">
                            <li class="_ft_hire_free_bottom_list_item">
                                <a href="#0" class="_ft_hire_free_bottom_item_link">Virtual Assistants</a>
                            </li>
                            <li class="_ft_hire_free_bottom_list_item">
                                <a href="#0" class="_ft_hire_free_bottom_item_link">Accountants</a>
                            </li>
                            <li class="_ft_hire_free_bottom_list_item">
                                <a href="#0" class="_ft_hire_free_bottom_item_link">Bookkeepers</a>
                            </li>
                            <li class="_ft_hire_free_bottom_list_item">
                                <a href="#0" class="_ft_hire_free_bottom_item_link">Free trial</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                    <div class="_ft_hire_free_bottom_item">
                        <h3 class="_ft_hire_free_bottom_title">Company</h3>
                        <ul class="_ft_hire_free_bottom_list">
                            <li class="_ft_hire_free_bottom_list_item">
                                <a href="#0" class="_ft_hire_free_bottom_item_link">Patnerships</a>
                            </li>
                            <li class="_ft_hire_free_bottom_list_item">
                                <a href="#0" class="_ft_hire_free_bottom_item_link">Terms of use</a>
                            </li>
                            <li class="_ft_hire_free_bottom_list_item">
                                <a href="#0" class="_ft_hire_free_bottom_item_link">Privacy</a>
                            </li>
                            <li class="_ft_hire_free_bottom_list_item">
                                <a href="#0" class="_ft_hire_free_bottom_item_link">Sitemap</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <div class="_ft_hire_free_bottom_item">
                        <h3 class="_ft_hire_free_bottom_title">Get in touch</h3>
                        <p class="_ft_hire_free_bottom_txt">You’ll find your next freelance valu you prefer.</p>
                    </div>
                    <ul class="_ft_hire_free_bottom_list">
                        <li class="_ft_hire_free_bottom_list_item _ft_hire_free_bottom_input_list">
                            <form action="">
                                <input type="text" class="form-control _ft_hire_free_bottom_input"
                                    placeholder="Enter your mail">
                                <button class="_ft_hire_free_bottom_input_btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"
                                        viewbox="0 0 16 16">
                                        <path fill="#00D664" fill-rule="evenodd"
                                            d="M8 14.75a6.75 6.75 0 110-13.5 6.75 6.75 0 010 13.5zM8 16A8 8 0 118 0a8 8 0 010 16zM8 5a.75.75 0 000 1.06l1.19 1.19H4.75a.75.75 0 000 1.5h4.44L8 9.94A.75.75 0 009.06 11l2.47-2.47a.75.75 0 000-1.06L9.06 5A.75.75 0 008 5z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="_ft_hire_free_bottom_content_copyright">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                                <div class="_footer_logo">
                                    <img src="assets/img/logo2.svg" class="_footer_logo_img img-fluid" alt="Logo">
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-5 col-md-5 col-12 col-sm-12 ms-auto">
                                <div class="_ft_hire_free_bottom_copyright">
                                    <p class="_copyright_txt">Copyright 2020.com, All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
