
  <div class="_header_hire_wrap  ">

    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="_header_hire_left_wrap ">
                    <h1 class="_header_hire_left_title ">Find & Hire Expert Freelancers</h1>
                    <p class="_header_hire_left_txt ">Work with the best freelance talent from around the world
                        on our secure
                        flexible and cost-effective platform.
                    </p>
                    <div class="_header_hire_left_btn_wrap">
                        <a [routerLink]="['/register']" routerLinkActive="active" class="_header_hire_left_btn1">Apply for job</a>
                        <a [routerLink]="['/register']" routerLinkActive="active" class="_header_hire_left_btn2">Hire a developer</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="_header_hire_right_wrap">
                    <div class="_header_hire_right_img_wrap">
                        <img src="assets/img/heroimg.png" alt="Hero Image" class="_header_hire_right_img"> 
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <app-client-section></app-client-section>
  <app-service-section></app-service-section>
  <app-testimonial-section></app-testimonial-section>
  <app-footer></app-footer>